#msg {
	display:none;
	float: right;
}
#qtime-add-entry {
	display: none;
}
.qtime-login-info {
	display: none;
}
#qtime-title {
	font-size: 20px;
	text-decoration: none;
	color: black;
	margin: 20px;
}
.qtime-input {
	margin: 5px;
}
#online-user-msg {
	float: right;
	display: none;
}
.red {
	color: red;
}


a {
	/*text-decoration: none;*/
}
a:focus{
    outline: none;
}

body {
	min-width: 330px;
	padding: 15px;
	padding-bottom: 0px;
	min-height: 275px;
	font-size: 14px;
	font-weight: 300;
	font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

footer {
	position: fixed;
	bottom: 10px;
	width:330px;
}
/*input {
	min-width: 250px;
	display: inline;
	float: right;
}*/



button {
    border: 1px solid;
    font-family: inherit;
    color: inherit;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover, button:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
