.shortcode {
	display: none;
}

.emojiPicker {
	background-color: white;
	overflow: hidden;
    max-width: 100%;
    max-height: calc(100% - 65px);
    display: block;
}

.emojiPicker .sections {
    overflow: auto;
}


.emojiPicker section em {
    float: left;
    display: inline-block;
    padding: 5%;
    border-radius: 3px;
    cursor: pointer;
}

/*.emojiPicker div.emoji {
    transform: scale(2);
}*/

.emojiPicker span.emoji {
    transform: scale(1.8);
}




